{{define "body"}}
    <div class="starter-template">
          <div class="row bottom-buffer"><img src="/imgs/beaker.jpg"/></div>
          <form id="search-form" class="form col-md-12 center-block" action="/search">
            <div class="form-group">
              <input type="text" name="q" class="form-control input-lg" placeholder="SRA Search" autofocus="autofocus">
            </div>
            <div class="form-group">
              <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <time id="range-start-time" datetime="{{.Start}}"></time>
                  <time id="range-end-time" datetime="{{.End}}"></time>
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span></span> <b class="caret"></b>
                  <input id="searchStart" type="hidden" name="start" value="">
                  <input id="searchEnd" type="hidden" name="end" value="">
              </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" id="load" data-searching-text="<i class='fa fa-spinner fa-spin'></i>Searching..." type="button">Search</button>
              <span class="pull-right"><a href="#">Advanced Search</a></span>
              <span class="pull-left"><a href="#">Examples</a></span>
            </div>
          </form>
    </div>
{{end}}
