{{define "body"}}
    <div class="starter-template">
          <div class="row bottom-buffer"><img src="/imgs/beaker.jpg"/></div>
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" name="q" class="form-control input-lg" placeholder="SRA Search">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Search</button>
              <span class="pull-right"><a href="#">Advanced Search</a></span>
              <span class="pull-left"><a href="#">Examples</a></span>
            </div>
          </form>
    </div>
{{end}}
